<h1>Apro(kicsi) hirdetesek</h1>
<div class="container">
    <div class="loginbox">
        <mat-tab-group dynamicHeight class="tabGroup">
            <mat-tab label="Login"> 
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="ex@gmail.com" [(ngModel)]="user.email">
                </mat-form-field>  
                
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide passwd'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <button mat-button color="primary" class="centered-button" (click)="login()">Login</button>


            </mat-tab>
            
            
            <mat-tab label="Registration"> 
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="" [(ngModel)] = "userReg.name">
                </mat-form-field> 

                <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="" [(ngModel)] = "userReg.address">
                </mat-form-field> 

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="ex@gmail.com" [(ngModel)] = "userReg.email">
                </mat-form-field>  
                
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)] = "userReg.password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>    

                <mat-form-field>
                    <mat-label>Re enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)] = "userReg.confirm">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    
                </mat-form-field>    
                <button mat-button color="primary" class="centered-button" (click)="register()">Registration</button>
            </mat-tab>
            
        </mat-tab-group>
    </div>
</div>


