.uploadAd{
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 90%;
}

.uploadDiv{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

mat-card{
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 500px; 

}

mat-card-content{
  margin-top: 10px;
}

mat-card-header{
  color: whitesmoke;
}

mat-card-content{
  color: whitesmoke;
}

img{
  border-radius: 20px;
  margin: 20px;
}

hr{
  width: 100%;
  color: grey
}

.accordion{
  display: flex;
  flex-direction: column;
}

.uploadBtn{
  width: 150px;
  background-color: lightgray;
  margin-top: 5px;
  align-self: flex-end;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 70%; 
    overflow: hidden;
    margin: 10px;
}
.cardbox {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow: hidden; /* Ha bármilyen elem túllépi a doboz méretét, azt elrejti */
    padding: 10px;
}
.example-card {
    max-width: 25%;
}

.adImage{
  width: 95%;
  align-self: center;
  padding: 3px;
}

@media (max-width: 768px) {
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px ;
  }
}