/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';


body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a4a4a;
}
